
<section>
<h1>Missão, visão e valores!!</h1>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm" id="div-col1">
      <h3>MISSÃO<br><br></h3>
      <p>Existimos para ajudar os necessitados, os mais carentes e prover o amor por meio de doações.</p>
     <p>Com todo o trabalho e ajuda da nossa comunidade, realizar transformações sociais, incentivando as pessoas sobre a importância de todas as formas de contribuições, seja ela pequena, grande ou financeira sendo tambem de bens materias.</p>
    </div>
    <div class="col-sm" id="div-col2">
      <h3>VISÃO<br><br></h3>
      <p>Consolidar-se como a pioneira no ramo voluntário incentivando as demais instituições ajudando no desenvolvimento comunitário.</p>
      <p>O que é desenvolvimento comunitário?</p>
      <p>Consiste num conjunto de ações voltadas para o desenvolvimento de núcleos e redes comunitárias e projetos sociais, através da articulação intersetorial, promovendo a capacidade local para o desenvolvimento da comunidade, colocando seus integrantes como protagonistas.</p>
    </div>
    <div class="col-sm" id="div-col3">
      <h3> VALORES<br><br></h3>
      <p>Transparência, coerência e principalmente a honestidade em nossos projetos sempre mantendo o respeito em todos os setores sociais e sempre manter a dignidade.</p>
      <p>Dedique o seu tempo para ajudar as pessoas, participe de nossos projetos. Bora mudar o mundo? Estamos ampliando nosso atendimento e, para que possamos continuar, precisamos de você.</p>
    </div>
    <div><br><br><br><br></div>
      <h3>Ajude-nós a divulgar sobre esse projeto, muitos moradores de rua estão passando frio e sofrendo com as condições severas do inverno.</h3>
      <h3>Clique abaixo e nós ajude a divulgar o nosso projeto!! Você podera postar nas redes sociais, blogs e demais comunidades.</h3>
      <br><br>
      <br><br>
      <br><br>
    <!--<button (click)="download()">Download</button>-->
    <a id="btn" href="https://drive.google.com/u/1/uc?id=1TPsZeDKG2D40igJplckp1QWy1kzuuKuA&export=download"><button id="btn-1">Download</button></a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a id="link" [routerLink]="['hall']">👉 Conheça o nosso Hall da fama</a>
  </div>
  </div>

</section>
