h1 {
  text-align: center;
  padding: 20px;
  font-size: calc(1em + 0.8vw);

}

h3 {
  text-align: center;
  padding: 10px;
  font-size: calc(1em + 0.1vw);
}


p {
  font-size: calc(1em + -0.1vw);
}


#div-col1 {
  background-color: rgb(183, 243, 243);
  border-radius: 10px;
  padding: 10px;

}



#div-col1 > p {
  text-align: justify;
}

#div-col2 {
  background-color: rgb(194, 183, 243);
  border-radius: 10px;
  padding: 10px;
}


#div-col2 > p {
  text-align: justify;
}

#div-col3 {
  background-color: rgb(243, 183, 188);
  border-radius: 10px;
  padding: 10px;
}

#div-col3 > p {
  text-align: justify;
}

section {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(212, 218, 169);
  padding: 100px;
}
#btn {
  font-size: calc(1em + 0.5vw);
}

#btn-1 {
 border-radius: 5px;
 border-color: rgb(212, 218, 169);
 background-color: rgb(144, 189, 99);
 padding: 5px;
 text-align: center;
 text-decoration: none;
 padding: 10px;
 color: black;
 }

 #btn-1:hover {
 background-color: chartreuse;
 transition: .3s;
 }

 a {
  color: black;
  font-size: calc(1em + 0.5vw);
  text-align: center;
  padding: 0px;

 }

 a:hover {
    transition: .3s;
    color: black;
    text-decoration: none;

 }
