<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Título da página</title>
    <meta charset="utf-8">
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>Mão Solidária</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="edit.component.css">

</head>
  <body>
    <navbar></navbar>
    <h1>SEJA UM DOADOR</h1>
    <br>
    <br>
    <br>
    <p id="p1">Por que é importante ajudar o próximo? Ajudar o próximo é uma maneira de, também, ajudar a si mesmo. A prática de boas ações traz diversos benefícios para a saúde física e mental de quem está contribuindo. Porém, em tempos de pandemia, muitas pessoas ficaram receosas de praticar esse ato e deixaram de contribuir.</p>
    <br>
    <p id="p2">Preencha todos os dados abaixo e em seguida entraremos em contato referente a sua doação!!</p>
      <div class="container">
        <br>
        <br>
        <form (ngSubmit)="onSubmit()">
          <hr class="featurette-divider">
          <ul class="flex-outer">


            <div class="form-group"
            [class.has-error]="!nome.valid && nome.touched">
              <label for="name"><b>Nome Completo</b></label>
              <input type="text" class="form-control"  maxlength="40" [(ngModel)]="contato.name" name="nome" placeholder="Digite seu nome completo" #nome="ngModel">
              <br>
              <div *ngIf="!nome.valid && nome.touched"
               class="alert alert-danger" role="alert">
                 Nome é obrigatório.
              </div>
            </div>


            <div class="form-group"[class.has-error]="!endereco.valid && endereco.touched">
              <label for="text"><b>Endereço</b></label>
              <input type="text"  class="form-control"  maxlength="70"  [(ngModel)]="contato.endereco" name="nome" placeholder="Digie o seu endereço" required #endereco="ngModel">
              <br>
              <div *ngIf="!endereco.valid && endereco.touched"
              class="alert alert-danger" role="alert">
                Endereço é obrigatório.
             </div>
            </div>


            <div class="form-group"[class.has-error]="!email.valid && email.touched">
              <label ><b>E-mail</b></label>
              <input type="email" class="form-control" [(ngModel)]="contato.email" name="nome" placeholder="Digite o seu e-mail"  #email="ngModel">
              <br>
              <div *ngIf="!email.valid && email.touched"
              class="alert alert-danger" role="alert">
                E-mail invalido.
             </div>
            </div>

            <div class="form-group"[class.has-error]="!numeroCasa.valid && numeroCasa.touched">
              <label><b>Número</b></label>
              <input type="text" class="form-control"  maxlength="5"  [(ngModel)]="contato.numeroCasa" name="nome" placeholder="Numero da residência"  #numeroCasa="ngModel">
              <br>
              <div *ngIf="!numeroCasa.valid && numeroCasa.touched"
              class="alert alert-danger" role="alert">
                Número invalido
             </div>
            </div>

            <div class="form-group"[class.has-error]="!complemento.valid && complemento.touched">
              <label for="text"><b>Complemento</b></label>
              <input type="text" class="form-control"  maxlength="20" [(ngModel)]="contato.complemento" name="nome" placeholder="casa, condominio, apartamento etc..." #complemento="ngModel">
              <br>
              <div *ngIf="!complemento.valid && complemento.touched"
              class="alert alert-danger" role="alert">
                Insira um complemento!!
             </div>
            </div>



            <div class="form-group"[class.has-error]="!contato1.valid && contato1.touched">
              <label for="text"><b>Contato</b></label>
              <input type="text" class="form-control"  maxlength="18"  [(ngModel)]="contato.phone" name="nome" placeholder="Telefone de contato" #contato1="ngModel">
              <br>
              <div *ngIf="!contato1.valid && contato1.touched"
              class="alert alert-danger" role="alert">
                Insira um telefone para contato!!
             </div>
            </div>
            <br>
            <br>
            <div class="form-group"[class.has-error]="!informacoes.valid && informacoes.touched">
            <label for="text"><b>INFORMAÇÕES DE DOAÇÃO</b></label>
            <select class="form-control" [(ngModel)]="contato.informacoes" name="nome" #informacoes="ngModel">
              <option></option>
              <option>Alimentos</option>
              <option>Produtos de Limpeza</option>
              <option>Higiêne Pessoal</option>
              <option>Roupas e agasalhos</option>
              <option>Outros</option>
            </select>
            <div *ngIf="!informacoes.valid && informacoes.touched"
              class="alert alert-danger" role="alert">
                Escolha uma opção
             </div>
          </div>
            <br>
            <br>
            <br>


            <div class="form-group">
              <label for="text"><b>AGENDAR RETIRADA: &nbsp; &nbsp;</b></label>
              <input id="date" type="date"  [(ngModel)]="contato.dataRetirada" name="nome"> &nbsp;
              <input type="time" id="appt" name="appt" min="09:00" max="18:00" required  [(ngModel)]="contato.horaRetirada" name="nome">
              <br>
            </div>
            <br>
            <br>
            <br>
            <br>


            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>ALGUMA OBSERVAÇÃO?</b></label>
              <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="contato.observacao" name="nome" rows="3" maxlength="500"></textarea>
            </div>
            <div>
              <button id="submit" type="submit">enviar</button>
            </div>
          </ul>
        </form>
        <br>
          <hr class="featurette-divider">
      </div>
      <rodape></rodape>
  </body>
</html>
