/* Estilos do rodapé*/

#myFooter {
    background-color: black;
    color: white;
    padding-top: 100px;
	padding: 1px;
	margin: 0px 0px 0px 25px 60px ;


}

#myFooter .footer-copyright {
    background-color: black; /* 142630 */
    padding-top: -20px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 1px;
    color: #ccc;
    font-size: 13px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}
a{
    font-size: 10px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #aaa2a2;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 15px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: purple;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS utilizado para posicionar o rodapé no final da página. */
/* Você pode remover isso. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}



/* Configuração do Botão Voltar ao Topo - Com Efeito de Pulo */
.smoothscroll-top {
	position:fixed;
	opacity:0;
	visibility:hidden;
	overflow:hidden;
	text-align:center;
	z-index:99;
	background-color:#494343;
	color:#fff;
	width:47px;
	height:44px;
	line-height:44px;
	right:25px;
	bottom:-25px;
	padding-top:2px;
	border-radius:5px;
	transition:all .5s ease-in-out;
	transition-delay:.2s;
	}

	.smoothscroll-top:hover {
	background-color:#ea6f3ecb;
	color:#fff;
	transition:all .2s ease-in-out;
	transition-delay:0;
	}

	.smoothscroll-top.show {
	visibility:visible;
	cursor:pointer;
	opacity:1;
	bottom:25px;
	}

	.smoothscroll-top i.fa {
	line-height:inherit;
	}
