h1 {
  text-align: center;
  color: white;
  background-color: black;
  padding: 60px 10px 60px 60px;
  font-family: 'Ubuntu', sans-serif;
}
#p1 {
  font-size: 20px;
  text-align: center;
}
#p2 {
  font-size: 20px;
  text-align: center;
}

div {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}

input {
  font-family: 'Ubuntu', sans-serif;
}

body {
  font: normal 15px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: white;
  color: rgb(0, 0, 0);
   padding: 50px 0;
}

option {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
}
button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: rgb(235, 77, 77);
  color: white;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
  }

